# CLOCKS #
NET "SDCLK0" 		LOC=C9  | IOSTANDARD=LVTTL ;
#NET "SDCLK1" 		LOC=D9  | IOSTANDARD=LVTTL ;
#NET "SYS_CLK" 		LOC=K6  | IOSTANDARD=LVTTL ;

# MEMORY INTERFACE #
NET "DATA<31>" 		LOC=E15 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD";
NET "DATA<30>" 		LOC=D14 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<29>" 		LOC=B16 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<28>" 		LOC=E12 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<27>" 		LOC=D11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<26>" 		LOC=C11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<25>" 		LOC=B11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<24>" 		LOC=E9  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<23>" 		LOC=C17 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<22>" 		LOC=C14 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<21>" 		LOC=B14 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<20>" 		LOC=E13 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<19>" 		LOC=B13 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<18>" 		LOC=D13 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<17>" 		LOC=D10 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<16>" 		LOC=B10 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<15>" 		LOC=C4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<14>" 		LOC=E7  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<13>" 		LOC=F9  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<12>" 		LOC=D6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<11>" 		LOC=C3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<10>" 		LOC=D5  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<9>"		LOC=B6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<8>"		LOC=B4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<7>"		LOC=D7  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<6>"		LOC=A8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<5>"		LOC=F7  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<4>"		LOC=C7  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<3>"		LOC=F8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<2>"		LOC=E6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<1>"		LOC=C5  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DATA<0>"		LOC=A4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<25>"		LOC=E10 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<24>"		LOC=K12 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<23>"		LOC=C18 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<22>"		LOC=F15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<21>"		LOC=E16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<20>"		LOC=D17 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<19>"		LOC=G16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<18>"		LOC=F11 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<17>"		LOC=F14 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<16>"		LOC=G13 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<15>"		LOC=G14 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<14>"		LOC=G15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<13>"		LOC=H14 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<12>"		LOC=J12 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<11>"		LOC=J13 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<10>"		LOC=H15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<9>" 		LOC=L18 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<8>" 		LOC=J14 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<7>" 		LOC=H16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<6>" 		LOC=K14 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<5>" 		LOC=K13 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<4>" 		LOC=J15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<3>" 		LOC=J16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "ADDR<2>" 		LOC=H17 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "ADDR<1>" 		LOC=F17 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DQM<3>" 		LOC=M13 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DQM<2>" 		LOC=M16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DQM<1>" 		LOC=T17 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "DQM<0>" 		LOC=P18 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "OE_N" 			LOC=F12 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "WE_N" 		LOC=E11 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "PWE_N" 		LOC=J17 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "SDCAS_N" 		LOC=G9  | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "RDWR_N" 		LOC=N15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
NET "RDY" 		LOC=N14 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;

# BUSMASTER #
#NET "SDRAS_N" 		LOC=P17 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "SDCLKE_N" 	LOC=L17 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "SDCS0_N" 		LOC=T18 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "CS0_N" 		LOC=M15 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "CPLD_CS_N" 	LOC=R16 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "USB_CS_N" 	LOC=M15 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "MBGNT" 		LOC=U6  | IOSTANDARD=LVTTL | TNM = "MPAD" ; 				#MBREG / DREQ1
#NET "MBREQ" 		LOC=U5  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ; #MBGNT / DVAL1

# DMA #
#NET "DREQ0" 		LOC=P16 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "DVAL0" 		LOC=L16 | IOSTANDARD=LVTTL | TNM = "MPAD" ;
#NET "DREQ1" 		LOC=U6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL | TNM = "MPAD" ; #MBREG / DREQ1
#NET "DVAL1" 		LOC=U5  | IOSTANDARD=LVTTL | TNM = "MPAD" ;				#MBGNT / DVAL1

# FPGA #
NET "FPGA_CS_N" 	LOC=R15 | IOSTANDARD=LVTTL | TNM = "MPAD" ;

#NET "FPGA_D<7>" 	LOC=N9  | IOSTANDARD=LVTTL ;
#NET "FPGA_D<6>" 	LOC=M9  | IOSTANDARD=LVTTL ;
#NET "FPGA_D<5>" 	LOC=R9  | IOSTANDARD=LVTTL ;
#NET "FPGA_D<4>" 	LOC=U9  | IOSTANDARD=LVTTL ;
#NET "FPGA_D<3>" 	LOC=V9  | IOSTANDARD=LVTTL ;
#NET "FPGA_D<2>" 	LOC=R10 | IOSTANDARD=LVTTL ;
#NET "FPGA_D<1>" 	LOC=P10 | IOSTANDARD=LVTTL ;
#NET "FPGA_D<0>" 	LOC=N10 | IOSTANDARD=LVTTL ;
#NET "FPGA_CCLK" 	LOC=U16 | IOSTANDARD=LVTTL ;
#NET "FPGA_INIT_N" 	LOC=T3  | IOSTANDARD=LVTTL ;
#NET "FPGA_RDWR_N" 	LOC=U10 | IOSTANDARD=LVTTL ;
#NET "FPGA_BUSY" 	LOC=U4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "FPGA_CSI_N" 	LOC=T4  | IOSTANDARD=LVTTL ;

NET "FPGA_IO<15>" 	LOC=R8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<14>" 	LOC=P9  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<13>" 	LOC=R13 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<12>" 	LOC=P8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<11>" 	LOC=R6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<10>" 	LOC=T5  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<9>" 	LOC=R5  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<8>" 	LOC=T8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<7>" 	LOC=P12 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<6>" 	LOC=N12 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<5>" 	LOC=U13 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<4>" 	LOC=R12 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<3>" 	LOC=T12 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<2>" 	LOC=R11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<1>" 	LOC=N11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_IO<0>" 	LOC=P11 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_LED_RED_N" 	LOC=V7  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_LED_GREEN_N" 	LOC=V6  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "FPGA_IRQ_N" 	LOC=N8  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
NET "FPGA_RESET_N" 	LOC=P7  | IOSTANDARD=LVTTL ;

# SYS #
#NET "SYS_IO<31>" 	LOC=D4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<30>" 	LOC=C2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<29>" 	LOC=E4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<28>" 	LOC=C1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<27>" 	LOC=D2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<26>" 	LOC=E3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<25>" 	LOC=D1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<24>" 	LOC=G3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<23>" 	LOC=H3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<22>" 	LOC=E2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<21>" 	LOC=F2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<20>" 	LOC=E1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<19>" 	LOC=F1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<18>" 	LOC=J4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<17>" 	LOC=H2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<16>" 	LOC=H1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<15>" 	LOC=K4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<14>" 	LOC=J1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<13>" 	LOC=J2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<12>" 	LOC=K3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<11>" 	LOC=L1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<10>" 	LOC=L3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<9>"		LOC=M3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<8>"		LOC=L2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<7>"		LOC=P2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<6>"		LOC=P1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<5>"		LOC=P3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<4>"		LOC=R2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<3>"		LOC=R3  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<2>"		LOC=T1  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<1>"		LOC=T2  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_IO<0>"		LOC=P4  | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "SYS_STATUS"	LOC=L15 | IOSTANDARD=LVTTL ;
#NET "SYS_ERROR"		LOC=K15 | IOSTANDARD=LVTTL ;

# MSL #
#NET "MSL_OB<3>" 	LOC=H5 | IOSTANDARD=LVTTL ;
#NET "MSL_OB<2>" 	LOC=G5 | IOSTANDARD=LVTTL ;
#NET "MSL_OB<1>" 	LOC=H4 | IOSTANDARD=LVTTL ;
#NET "MSL_OB<0>" 	LOC=G6 | IOSTANDARD=LVTTL ;
#NET "MSL_OB_CLK" 	LOC=J5 | IOSTANDARD=LVTTL ;
#NET "MSL_OB_STB" 	LOC=H6 | IOSTANDARD=LVTTL ;
#NET "MSL_OB_WAIT" 	LOC=G4 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB<3>" 	LOC=L5 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB<2>" 	LOC=M4 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB<1>" 	LOC=N5 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB<0>" 	LOC=M5 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB_CLK" 	LOC=K5 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB_STB" 	LOC=N4 | DRIVE = 16 | SLEW = SLOW | IOSTANDARD=LVTTL ;
#NET "MSL_IB_WAIT" 	LOC=L4 | IOSTANDARD=LVTTL ;

#NET "SDCLK1" TNM_NET = "LCLK";
#TIMESPEC "TS_SDCLK1" = PERIOD "SDCLK1" 104 MHz HIGH 50 % INPUT_JITTER 125 ps;

NET "SDCLK0" TNM_NET = "SDCLK0";
TIMESPEC "TS_SDCLK0" = PERIOD "SDCLK0" 52 MHz HIGH 50 % INPUT_JITTER 125 ps;

NET "CLOCK/MEM_CLK_bu" TNM_NET = "MEM_CLK"; 

#TIMESPEC "TS_SDCLK0_TO_SDCLK1" = FROM "SDCLK0" TO "SDCLK1" 9 ns;
#TIMESPEC "TS_SDCLK1_TO_SDCLK0" = FROM "SDCLK1" TO "SDCLK0" 9 ns;

TIMESPEC "TS_MEM_CLK_TO_MPAD" = FROM "MEM_CLK" TO "MPAD" 4 ns;
TIMESPEC "TS_MPAD_TO_MEM_CLK" = FROM "MPAD" TO "MEM_CLK" 7 ns;
