
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Stefan Herbrechtsmeier
# Date: 14 July 2009

# Load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "bebot.world"
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "bebot"
driver
( 
  name "stage"
  provides [ "position2d:0" "ir:0" ]
  model "bebot" 
)
